<main id="main">

  <!-- ======= Intro Single ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">{{title}}</h1>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav
            aria-label="breadcrumb"
            class="breadcrumb-box d-flex justify-content-lg-end"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="/rental/rentalListing/{{id}}">
                  {{address}}
                  </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{title}}
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- End Intro Single-->
  <section class="contact mt-5">
    <div class="container">
      <form
        action="/rental/editRentalListing/{{rentID}}/?_method=PUT"
        id="rentForm"
        class="form"
        method="POST"
        role="form"
      >
        <input type="hidden" name="_method" value="PUT" />
        <div class="row mb-3">
          <div class="col-md-6 mb-3">
            <label for="address" class="form-label">Address Line</label>
            <input
              type="text"
              id="address"
              name="address"
              class="form-control form-control-lg form-control-a"
              value="{{address}}"
              placeholder="Ang Mo Kio Avenue 5"
              required
            />
            <div id="addressOneErrorMsg" class="form-text"></div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="postal_district" class="form-label">Postal_District</label>
            <select
              id="postal_district"
              name="postal_district"
              class="form-control form-control-lg form-control-a"
              required
            >
              <option value="20" selected>Ang Mo Kio</option>
              <option value="16">Bedok</option>
              <option value="20">Bishan</option>
              <option value="23">Bukit Panjang</option>
              <option value="10">Bukit Timah</option>
              <option value="23">Choa Chu Kang</option>
              <option value="5">Clementi</option>
              <option value="14">Geylang</option>
              <option value="19">Hougang</option>
              <option value="22">Jurong East</option>
              <option value="22">Jurong West</option>
              <option value="1">Kallang/Whampoa</option>
              <option value="1">Marine Parade</option>
              <option value="18">Pasir Ris</option>
              <option value="19">Punggol</option>
              <option value="3">Queenstown</option>
              <option value="27">Sembawang</option>
              <option value="12">Serangoon</option>
              <option value="18">Tampines</option>
              <option value="12">Toa Payoh</option>
              <option value="27">Woodlands</option>
              <option value="27">Yishun</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 mb-3">
            <label for="amenities" class="form-label">Amenities</label>
            <input
              type="text"
              name="amenities"
              value="{{amenities}}"
              class="form-control form-control-lg form-control-a"
              required
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="No_Bedroom" class="form-label">Bedrooms</label>
            <select
              id="No_Bedroom"
              name="No_Bedroom"
              class="form-control form-control-lg form-control-a"
              required
            >
              <option
                value="1"
                {{autoSelectDropDown numberOfBedroom "1-ROOM"}}
              >1-ROOM</option>
              <option
                value="2"
                {{autoSelectDropDown numberOfBedroom "2-ROOM"}}
              >2-ROOM</option>
              <option
                value="3"
                {{autoSelectDropDown numberOfBedroom "3-ROOM"}}
              >3-ROOM</option>
              <option
                value="4"
                {{autoSelectDropDown numberOfBedroom "4-ROOM"}}
              >4-ROOM</option>
              <option
                value="5"
                {{autoSelectDropDown numberOfBedroom "5-ROOM"}}
              >5-ROOM</option>
              
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 mb-3">
            <label for="Type" class="form-label">Flat Type</label>
            <select
              id="Type"
              name="Type"
              class="form-control form-control-lg form-control-a"
              required
            >
              <option
                value="Executive Condominiums"
                {{autoSelectDropDown houseType "Executive Condominiums"}}
              >Executive Condominiums</option>
              <option
                value="Landed Properties"
                {{autoSelectDropDown houseType "Landed Properties"}}
              >Landed Properties</option>
              <option
                value="Non-Landed Housing"
                {{autoSelectDropDown houseType "Non-Landed Housing"}}
              >Non-Landed Housing</option>
              
            </select>
          </div>
          <div class="col-md-6 mb-3">
            <label for="floorFt" class="form-label">Floor Area (Sqf)</label>
            <input
              id="floorFt"
              type="text"
              name="floorFt"
              class="form-control form-control-lg form-control-a"
              min="25"
              max="400"
              value="{{floorSqm}}"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 mb-3">
            <label for="description" class="form-label">Description</label>
            <input
              type="text"
              name="description"
              value="{{description}}"
              class="form-control form-control-lg form-control-a"
              required
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="leaseCommenceDate" class="form-label">Lease Start Date</label>
            <input
              id="leaseCommenceDate"
              type="date"
              name="leaseCommenceDate"
              class="form-control form-control-lg form-control-a"
              min="1952-01-01"
              value="{{formatDate leaseCommenceDate "YYYY-MM-DD"}}"
              required
            />
          </div>
          
        </div>

        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-a">Save</button>
        </div>
      </form>
    </div>
  </section>
</main>